@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  font-family: "Inter", sans-serif;
  height: 100%;
}

html.dark {
  background-color: #121826;
  color: #FEF7EE;
}

html.light {
  background-color: #FFFFFF;
  color: #121826;
}